In [1]:
a = 10

In [2]:
print (a)

10

In [3]:
a=10.6

In [4]:
print(a)

10.6

In [5]:
a =5
type(a)

int

In [6]:
city = "karachi"
print(city)

karachi

In [7]:
type(city)

str

In [8]:
city=karachi
print(city)

NameError: name 'karachi' is not defined

In [9]:
city=45
type(city)

int

In [10]:
city=4.5
type(city)

float

In [11]:
print(waqas)

NameError: name 'waqas' is not defined

In [14]:
print(city);

4.5

In [15]:
print(city);

4.5

In [16]:
print(city)

4.5

In [17]:
print(city);

4.5

In [18]:
print("city"
     )

city

In [19]:
print(1)

1

In [20]:
print(b)

NameError: name 'b' is not defined

In [21]:
student-name="waqas"
print(student-name)

SyntaxError: can't assign to operator (<ipython-input-21-dc188ce1afde>, line 1)

In [22]:
student_name="waqas"
print(student-name)

NameError: name 'student' is not defined

In [23]:
myname="waqas"
fathname="tariq"
print(myname+fathname)

waqastariq

In [24]:
print("myname")

myname

In [25]:
num = 1 
num2=2
sum=num+num2
print(sum)

3

In [26]:
print(myname+num)

TypeError: can only concatenate str (not "int") to str

In [27]:
print(myname+" ")

waqas

In [28]:
print(myname+" "+fathname)

waqas tariq

In [29]:
input("city")

citykarachi

'karachi'

In [30]:
x=input("city")
print(x)

citykar
kar

In [31]:
x=input("age")
print("ur age is" + x)

age12
ur age is12

In [32]:
x=input("age")
print("ur age is" + x + 3)

age2

TypeError: can only concatenate str (not "int") to str

In [34]:
income=input("ur income")
x=int(income)
print(x*12)

ur income10
120

In [35]:
income=input("ur income")
print(income*12)

ur income10
101010101010101010101010

In [36]:
list=[]
len(list)

0

In [38]:
list.append("2")
len(list)

2

In [39]:
list= ["waqas", "Naqvi", "Ali"]
list

['waqas', 'Naqvi', 'Ali']

In [40]:
len(list)

3

In [41]:
list.append("tariq")
list

['waqas', 'Naqvi', 'Ali', 'tariq']

In [42]:
list.insert(0, "aman")
list

['aman', 'waqas', 'Naqvi', 'Ali', 'tariq']

In [43]:
list.extend([32, 54, 100])
list

['aman', 'waqas', 'Naqvi', 'Ali', 'tariq', 32, 54, 100]

In [44]:
list.count("a")

0

In [45]:
list.count("waqas")

1

In [46]:
list.index(32)

5

In [47]:
list.index("32")

ValueError: '32' is not in list

In [48]:
list2 = list.copy()
list2

['aman', 'waqas', 'Naqvi', 'Ali', 'tariq', 32, 54, 100]

In [49]:
list3= list
list3

['aman', 'waqas', 'Naqvi', 'Ali', 'tariq', 32, 54, 100]

In [50]:
list.append(33)
list3
list2

['aman', 'waqas', 'Naqvi', 'Ali', 'tariq', 32, 54, 100]

In [51]:
list3

['aman', 'waqas', 'Naqvi', 'Ali', 'tariq', 32, 54, 100, 33]

In [52]:
del list[8]
list3

['aman', 'waqas', 'Naqvi', 'Ali', 'tariq', 32, 54, 100]

In [53]:
list.remove(0)
list

ValueError: list.remove(x): x not in list

In [54]:
list.remove("aman)
            list

SyntaxError: EOL while scanning string literal (<ipython-input-54-d0f34616ea61>, line 1)

In [55]:
list.remove("aman")
list

['waqas', 'Naqvi', 'Ali', 'tariq', 32, 54, 100]

In [56]:
list

['waqas', 'Naqvi', 'Ali', 'tariq', 32, 54, 100]

In [57]:
x=list.pop()
print(x)
print("popped element is:" x )

SyntaxError: invalid syntax (<ipython-input-57-417ab54d85cb>, line 3)

In [58]:
x=list.pop()
print(x)

100

In [59]:
list

['waqas', 'Naqvi', 'Ali', 'tariq', 32, 54]

In [60]:
x=list.pop()
print(x)
print("popped element is {x}:" )

54
popped element is {x}:

In [61]:
x=list.pop()
print(f"popped element is {x}:" )

popped element is 32:

In [62]:
x=list.pop()
print(f"popped element is {x}:" )
print(f"remaining elements are {list3})

SyntaxError: EOL while scanning string literal (<ipython-input-62-3e1e6d838e74>, line 3)

In [63]:
x=list.pop()
print(f"popped element is {x}:" )
print(f"remaining elements are {list3}")

popped element is tariq:
remaining elements are ['waqas', 'Naqvi', 'Ali']

In [64]:
list

['waqas', 'Naqvi', 'Ali']

In [65]:
list.sort()

In [66]:
list

['Ali', 'Naqvi', 'waqas']

In [67]:
list.sort(reverse=True)
list

['waqas', 'Naqvi', 'Ali']

In [68]:
list.rverese()

AttributeError: 'list' object has no attribute 'rverese'

In [69]:
list.reverse()
list

['Ali', 'Naqvi', 'waqas']

In [70]:
list[0:1]
list

['Ali', 'Naqvi', 'waqas']

In [72]:
print(list[0:2])

['Ali', 'Naqvi']

num

In [73]:
nums=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [74]:
nums[2:5]

[3, 4, 5]

In [75]:
nums.remove(2)
nums

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [76]:
x=nums.pop(3)
nums

[1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [77]:
print(x)

5

In [78]:
del nums[1:3]
nums

[1, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [79]:
y= del nums[1]
print(y)

SyntaxError: invalid syntax (<ipython-input-79-8d8fed6f958d>, line 1)

# Tupples

In [81]:
btupple=("waqas", 2, "naqvi")
len(btupple)

3

In [82]:
btupple.count(2)

1

In [84]:
a= 2,2,2,3
a.count(2)

3

In [85]:
atupple.count(2)

NameError: name 'atupple' is not defined

In [88]:
a =[1,2,3,4]
for elem in a:
    print(1)

1
1
1
1

In [104]:
a=[1,2,3,4,5,6]
for elem in a:
    print(elem)
    if elem == 7:
        print("no 7")
    elif elem == 5 :
        break
    else:
        print("n")

1
n
2
n
3
n
4
n
5

# For Loop

In [106]:
for a in range(5):
    print(a,"waqas")
    print(a+1)

0 waqas
1
1 waqas
2
2 waqas
3
3 waqas
4
4 waqas
5

In [111]:
for b in range(1,10,2):
    print("waqas"+" "+"aLI")

waqas aLI
waqas aLI
waqas aLI
waqas aLI
waqas aLI

In [113]:
for c in range(12,0,-2):
    print(c)

12
10
8
6
4
2

In [114]:
for z in ["khi", "lhr", "isl"]:
    print(z)

khi
lhr
isl

In [115]:
z=[2,3,4]

for a in z:
    print(a)

2
3
4

In [122]:
z="Pak" , "amn"
y=[1,2,3]
for char in z:
    print(y)

[1, 2, 3]
[1, 2, 3]

# for loops break and continue

In [123]:
for num in range(10):
    if num%2==10:
        break
    print(num)

0
1
2
3
4
5
6
7
8
9

In [125]:
for num in range(11):
    if num%2==0:
        break
    print(num)

In [126]:
for num in range(11):
    if num%2!=0:
        break
    print(num)

0

In [129]:
for num in range(11):
    if num%2!=2:
        break
    print(num)

In [130]:
for num in [3,5,7,20]:
    if num%2==0:
        break
    print(num)

3
5
7

In [131]:
for num in range(10):
    if num==5:
        continue
    print(num)

0
1
2
3
4
6
7
8
9

# nested for

In [132]:
for a in range(5):
    print("inner loop")
    for x in "china":
        print(a,x)

inner loop
0 c
0 h
0 i
0 n
0 a
inner loop
1 c
1 h
1 i
1 n
1 a
inner loop
2 c
2 h
2 i
2 n
2 a
inner loop
3 c
3 h
3 i
3 n
3 a
inner loop
4 c
4 h
4 i
4 n
4 a

In [140]:
tablenumber=int(input("Enter table that u want to print: "))
for a in range(1,11):
    print(f"{tablenumber}* {a} =  {tablenumber*a}")

Enter table that u want to print: 2
2* 1 =  2
2* 2 =  4
2* 3 =  6
2* 4 =  8
2* 5 =  10
2* 6 =  12
2* 7 =  14
2* 8 =  16
2* 9 =  18
2* 10 =  20

In [144]:
tables = int(input("Enter the range of table: "))

for table in range(1,tables+1):
    for a in range(1,11):
          print(f"{table}* {a} =  {table*a}")

Enter the range of table: 3
1* 1 =  1
1* 2 =  2
1* 3 =  3
1* 4 =  4
1* 5 =  5
1* 6 =  6
1* 7 =  7
1* 8 =  8
1* 9 =  9
1* 10 =  10
2* 1 =  2
2* 2 =  4
2* 3 =  6
2* 4 =  8
2* 5 =  10
2* 6 =  12
2* 7 =  14
2* 8 =  16
2* 9 =  18
2* 10 =  20
3* 1 =  3
3* 2 =  6
3* 3 =  9
3* 4 =  12
3* 5 =  15
3* 6 =  18
3* 7 =  21
3* 8 =  24
3* 9 =  27
3* 10 =  30

In [145]:
tables = int(input("Enter the range of table: "))

for table in range(1,tables+1):
    for a in range(1,11):
          print(f"{table}* {a} =  {table*a}")

Enter the range of table: 2
1* 1 =  1
1* 2 =  2
1* 3 =  3
1* 4 =  4
1* 5 =  5
1* 6 =  6
1* 7 =  7
1* 8 =  8
1* 9 =  9
1* 10 =  10
2* 1 =  2
2* 2 =  4
2* 3 =  6
2* 4 =  8
2* 5 =  10
2* 6 =  12
2* 7 =  14
2* 8 =  16
2* 9 =  18
2* 10 =  20

In [146]:
tables = int(input("Enter the range of table: "))
for a in range(1,11):
    for table in range(1,tables+1):
        print(f"{table}* {a} =  {table*a}")

Enter the range of table: 3
1* 1 =  1
2* 1 =  2
3* 1 =  3
1* 2 =  2
2* 2 =  4
3* 2 =  6
1* 3 =  3
2* 3 =  6
3* 3 =  9
1* 4 =  4
2* 4 =  8
3* 4 =  12
1* 5 =  5
2* 5 =  10
3* 5 =  15
1* 6 =  6
2* 6 =  12
3* 6 =  18
1* 7 =  7
2* 7 =  14
3* 7 =  21
1* 8 =  8
2* 8 =  16
3* 8 =  24
1* 9 =  9
2* 9 =  18
3* 9 =  27
1* 10 =  10
2* 10 =  20
3* 10 =  30

In [147]:
x=str(input("enter number: "))
print(x)

enter number: 2
2

In [149]:
x=int(input("enter name: "))
print(x)

enter name: w

ValueError: invalid literal for int() with base 10: 'w'

In [150]:
x=(input("enter name: "))
print(x)

enter name: w
w

# typecasting

In [151]:
userInput = input("Enter sth")
type(userInput)

Enter sthw

str

In [152]:
userInput = input("Enter sth")
type(userInput)

Enter sth2

str

In [153]:
userInput = int(input("Enter sth"))
type(userInput)

Enter sth3

int

In [154]:
userInput = int(input("Enter sth"))
type(userInput)

Enter sthw

ValueError: invalid literal for int() with base 10: 'w'

In [155]:
float(5)

5.0

In [156]:
int(5.9)

5

In [157]:
str(4)

'4'

# changing case

In [158]:
name ="Pakistan"
type(name)

str

In [159]:
name.upper()

'PAKISTAN'

In [161]:
name.title()

'Pakistan'

In [162]:
name.lower()

'pakistan'

In [163]:
print(name.upper())

PAKISTAN

# dictionaries

In [165]:
waqasDict={"name":"waqas", 'age':31, "gender":"M" }

In [166]:
waqasDict

{'name': 'waqas', 'age': 31, 'gender': 'M'}

In [167]:
waqasDict["age"]

31

In [168]:
waqasDict[1]=40000
waqasDict

{'name': 'waqas', 'age': 31, 'gender': 'M', 1: 40000}

In [169]:
print(waqasDict["age"])

31

In [171]:
waqasDict["email"]="waqas@hotmail.com"
waqasDict

{'name': 'waqas',
 'age': 31,
 'gender': 'M',
 1: 40000,
 'email': 'waqas@hotmail.com'}

In [172]:
del waqasDict["email"]
waqasDict

{'name': 'waqas', 'age': 31, 'gender': 'M', 1: 40000}

In [173]:
del waqasDict[0]
waqasDict

KeyError: 0

In [174]:
waqas in waqasDict

NameError: name 'waqas' is not defined

In [175]:
"waqas" in waqasDict

False

In [176]:
"name" in waqasDict

True

In [1]:
for a in waqasDict.keys():
    print(a)

NameError: name 'waqasDict' is not defined

In [2]:
waqasDict

NameError: name 'waqasDict' is not defined

In [3]:
waqasDict={"name":"waqas", 'age':31, "gender":"M" }
for a in waqasDict.keys():
    print(a)

name
age
gender

In [4]:
for a in waqasDict.values():
    print(a)

waqas
31
M

In [5]:
anasdict={"name":"anas", 1:35}
anasdict

{'name': 'anas', 1: 35}

In [6]:
anasdict.values()

dict_values(['anas', 35])

In [7]:
for a,b in waqasDict.items():
    print(a,b)

name waqas
age 31
gender M

In [9]:
data=[]
data.append({"name":'waqas', 'age':'31', 'g':'M'})
data.append({"name":'naeema', 'age':'29', 'g':'F'})
data

[{'name': 'waqas', 'age': '31', 'g': 'M'},
 {'name': 'naeema', 'age': '29', 'g': 'F'}]

In [10]:
for a in data:
    for b in data.values():
        print(b)

AttributeError: 'list' object has no attribute 'values'

In [11]:
for a in data:
    print(a)

{'name': 'waqas', 'age': '31', 'g': 'M'}
{'name': 'naeema', 'age': '29', 'g': 'F'}

In [12]:
for a in data:
    print(data[0])

{'name': 'waqas', 'age': '31', 'g': 'M'}
{'name': 'waqas', 'age': '31', 'g': 'M'}

In [13]:
print(data[0])

{'name': 'waqas', 'age': '31', 'g': 'M'}

In [14]:
print(data[0,'g'])

TypeError: list indices must be integers or slices, not tuple

In [15]:
print(data[0,{'g'}])

TypeError: list indices must be integers or slices, not tuple

In [16]:
data[0]['g']

'M'

In [17]:
print(data[0]['g'])

M

In [18]:
print(data[0]['name'])

waqas

In [20]:
adict={'name':'waqas', 'childrennames':["ammna","ahmad"]}
print(adict['childrennames'][0])

ammna

In [21]:
print(adict['childrennames'][1])

ahmad

In [22]:
data2=[{'name':'waqas','age':'31'},{'name':'naeema','age':'29'}]
print(data[1]['age'])

29

In [23]:
for a in data2:
    print(a)

{'name': 'waqas', 'age': '31'}
{'name': 'naeema', 'age': '29'}

In [24]:
for a in data2:
    print(data[0])

{'name': 'waqas', 'age': '31', 'g': 'M'}
{'name': 'waqas', 'age': '31', 'g': 'M'}

In [25]:
for a in data2:
    print(data[]['name'])

SyntaxError: invalid syntax (<ipython-input-25-eb6415f846ae>, line 2)

In [26]:
for a in data2:
    print(data[0]['name'])
    print(data[1]['name'])

waqas
naeema
waqas
naeema

In [29]:
for a in data2:
    print(data[0]['name'] + "'s age is" + ['age'])

TypeError: can only concatenate str (not "list") to str

In [5]:
def add(x,y):
    ans= x+y
    mul=x*y
    return (mul + ans), "hello"
    

add(2,4)

(14, 'hello')

# Classes

In [19]:
class employee():
    
    def __init__(intial, Id, name, Department ):
        intial.Id = Id
        intial.name = name
        intial.Department = Department
    
    def activity(intial):
        print(f"Employee {intial.name} having id {intial.Id} belonging to department {intial.Department}is currenlty on field")
        
    def details(intial):
        print(f"Name of employee is {intial.name}")
        print(f"Id of employee is {intial.Id}")
        print(f"Department of employee {intial.name} is {intial.Department}")

In [7]:
employee1= employee("1","waqas", "drilling")
employee2= employee ("2","Anjum", "geology")

In [8]:
employee1= employee("1","waqas", "drilling")
employee2= employee ("2","Anjum", "geology")

In [10]:
employee1.name

'waqas'

In [11]:
employee2.Id

'2'

In [15]:
employee1.activity()

Employee waqas having id 1 belonging to department drillingis currenlty on field

employee2.details()

In [16]:
employee1.activity()

Employee waqas having id 1 belonging to department drillingis currenlty on field

In [17]:
employee2.activity()

Employee Anjum having id 2 belonging to department geologyis currenlty on field

In [18]:
employee2.details()

Name of employee is Anjum
Id of employee is 2
Department of employee is geology

In [20]:
employee2.details()

Name of employee is Anjum
Id of employee is 2
Department of employee is geology

In [21]:
employee2.details()

Name of employee is Anjum
Id of employee is 2
Department of employee is geology

In [22]:
class employee():
    
    def __init__(intial, Id, name, Department ):
        intial.Id = Id
        intial.name = name
        intial.Department = Department
    
    def activity(intial):
        print(f"Employee {intial.name} having id {intial.Id} belonging to department {intial.Department}is currenlty on field")
        
    def details(intial):
        print(f"Name of employee is {intial.name}")
        print(f"Id of employee is {intial.Id}")
        print(f"Department of employee {intial.name} is {intial.Department}")

In [23]:
employee1= employee("1","waqas", "drilling")
employee2= employee ("2","Anjum", "geology")

In [24]:
employee2.details()

Name of employee is Anjum
Id of employee is 2
Department of employee Anjum is geology

# datafiles

In [1]:
with open ("waqas", "w") as file:
    file.write("This is my first write mode file")

In [11]:
with open ("waqas", "r") as file:
    contents = file.read()

print(contents)

This is my first write mode file

In [17]:
with open ("waqas2", "w+") as file:
    file.write("This is my first write + mode file")
    file.seek(0)
    print(file.read())

This is my first write + mode file

# exceptions

In [ ]:
#exceptions are runtime errors

# modules

# csv

In [2]:
z=1
while z<10:
    z= z+1
print(z)

10

In [20]:
class employee():
    
    def __init__(intial,Id, name, Department,**opt):
        intial.Id = Id
        intial.name = name
        intial.Department = Department
        intial.opt= opt
    
    def activity(intial):
        print(f"Employee {intial.name} having id {intial.Id} belonging to department {intial.Department}is currenlty on field")
        
    def details(intial):
        print(f"Name of employee is {intial.name}")
        print(f"Id of employee is {intial.Id}")
        print(f"Department of employee {intial.name} is {intial.Department}")

In [19]:
employee1= employee("1","waqas", "drilling", "e","l")
employee1.opt

TypeError: __init__() takes 4 positional arguments but 6 were given