In [21]:
import pandas as pd
import numpy as np

In [38]:
a = pd.Series([11,232,357,454,55,69], 
              index =['a', 'b', 'c', 'd', 'e','f'])
a

a         11
b        232
c        357
d        454
True      55
False     69
dtype: int64

In [28]:
a.values

array([ 11, 232, 357, 454,  55,  69], dtype=int64)

In [39]:
a['e']

55

In [30]:
a.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [40]:
a[a%2 == 0] #even numbers

b    232
d    454
dtype: int64

In [32]:
a['b']

232

In [33]:
a[['c','a','f','e']]

c    357
a     11
f     69
e     55
dtype: int64

In [34]:
a['c'] = 100

In [36]:
a['b':'d']

b    232
c    100
d    454
dtype: int64

In [19]:
a[1:4]

b    232
c    100
d    454
dtype: int64

In [20]:
a

a     11
b    232
c    100
d    454
e     55
f     69
dtype: int64

In [22]:
b = pd.Series(np.arange(1,101,2))
b

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
16    33
17    35
18    37
19    39
20    41
21    43
22    45
23    47
24    49
25    51
26    53
27    55
28    57
29    59
30    61
31    63
32    65
33    67
34    69
35    71
36    73
37    75
38    77
39    79
40    81
41    83
42    85
43    87
44    89
45    91
46    93
47    95
48    97
49    99
dtype: int32

In [24]:
b[0:10]

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int32

In [41]:
a = pd.Series([11,232,357,454,55,69], 
              index = np.arange(6,0,-1))
a

6     11
5    232
4    357
3    454
2     55
1     69
dtype: int64

In [45]:
a.iloc[0]

11

In [46]:
a.loc[6]

11

In [47]:
a[1::2]

5    232
3    454
1     69
dtype: int64

In [48]:
#Make a pandas series named marks and pass index = students name
#total 5 students

In [49]:
b= pd.Series([60,30,50,80,70], index=['Ali', 'Ashad', 'Umer', 'Adeel', 'Aqaib'])
b

Ali      60
Ashad    30
Umer     50
Adeel    80
Aqaib    70
dtype: int64

In [51]:
b['Ali'] =90
b

Ali      90
Ashad    30
Umer     50
Adeel    80
Aqaib    70
dtype: int64

In [52]:
b.values

array([90, 30, 50, 80, 70], dtype=int64)

In [53]:
b[0]

90

In [55]:
b[b>70].index #students with marks > 70

Index(['Ali', 'Adeel'], dtype='object')

In [58]:
b*10
b

Ali      90
Ashad    30
Umer     50
Adeel    80
Aqaib    70
dtype: int64

In [59]:
'Ali' in b #checks if index is present

True

In [76]:
#Generation of Series from dictionary
dictionary = {'Ali': 90, 'Umer': 80, 'Adeel': 70, 'Aaqib': 31}

In [77]:
ser = pd.Series(dictionary)
ser

Ali      90
Umer     80
Adeel    70
Aaqib    31
dtype: int64

In [78]:
ser['Aaqib']

31

In [79]:
#students with A
ser[ser > 80]

Ali    90
dtype: int64

In [80]:
ser[ser>=70][ser<80] #filtering based on multiple conditions

Adeel    70
dtype: int64

In [81]:
ser[np.logical_and(ser>=70,ser<80)]

Adeel    70
dtype: int64

In [83]:
addition = ser + b
addition

Aaqib      NaN
Adeel    150.0
Ali      180.0
Aqaib      NaN
Ashad      NaN
Umer     130.0
dtype: float64

In [84]:
addition.fillna(addition.mean()) #filled with series mean

Aaqib    153.333333
Adeel    150.000000
Ali      180.000000
Aqaib    153.333333
Ashad    153.333333
Umer     130.000000
dtype: float64

In [85]:
addition.fillna(0) #filled with constant

Aaqib      0.0
Adeel    150.0
Ali      180.0
Aqaib      0.0
Ashad      0.0
Umer     130.0
dtype: float64

In [86]:
addition.isnull()

Aaqib     True
Adeel    False
Ali      False
Aqaib     True
Ashad     True
Umer     False
dtype: bool

In [87]:
addition.notnull()

Aaqib    False
Adeel     True
Ali       True
Aqaib    False
Ashad    False
Umer      True
dtype: bool

In [88]:
addition[addition.notnull()] #

Adeel    150.0
Ali      180.0
Umer     130.0
dtype: float64

In [94]:
students = pd.DataFrame({
'names':['Ali', 'Hamza', 'Saqib', 'Umair'],
'age': [23,22,22,18],
'CGPA': [3.8,2.6,4.0,3.5]} )
students

   names  age  CGPA
0    Ali   23   3.8
1  Hamza   22   2.6
2  Saqib   22   4.0
3  Umair   18   3.5

In [90]:
students['names']

0      Ali
1    Hamza
2    Saqib
3    Umair
Name: names, dtype: object

In [92]:
students.names

0      Ali
1    Hamza
2    Saqib
3    Umair
Name: names, dtype: object

In [93]:
students.columns

Index(['names', 'age', 'CGPA'], dtype='object')

In [96]:
students.iloc[0]

names    Ali
age       23
CGPA     3.8
Name: 0, dtype: object

In [97]:
students[students.CGPA > 3.5]

   names  age  CGPA
0    Ali   23   3.8
2  Saqib   22   4.0

In [99]:
students.head(3)

   names  age  CGPA
0    Ali   23   3.8
1  Hamza   22   2.6
2  Saqib   22   4.0

In [100]:
students = pd.DataFrame({
'names':['Ali', 'Hamza', 'Saqib', 'Umair'],
'age': [23,22,22,18],
'CGPA': [3.8,2.6,4.0,3.5]}, index = ['s1','s2','s3','s4'] )
students

    names  age  CGPA
s1    Ali   23   3.8
s2  Hamza   22   2.6
s3  Saqib   22   4.0
s4  Umair   18   3.5

In [101]:
students.loc['s1']

names    Ali
age       23
CGPA     3.8
Name: s1, dtype: object

In [102]:
students.iloc[0]

names    Ali
age       23
CGPA     3.8
Name: s1, dtype: object

In [105]:
students.CGPA = 4.0
students

    names  age  CGPA
s1    Ali   23   4.0
s2  Hamza   22   4.0
s3  Saqib   22   4.0
s4  Umair   18   4.0

In [106]:
students[students.names == 'Ali']

   names  age  CGPA
s1   Ali   23   4.0

In [108]:
students.loc['s1'].CGPA = 3.5
students

C:\Users\MT-2019.MIT_R9_PC2\Anaconda3\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

    names  age  CGPA
s1    Ali   23   3.5
s2  Hamza   22   4.0
s3  Saqib   22   4.0
s4  Umair   18   4.0

In [109]:
students['roll no'] = np.arange(1,5) #adding columns
students

    names  age  CGPA  roll no
s1    Ali   23   3.5        1
s2  Hamza   22   4.0        2
s3  Saqib   22   4.0        3
s4  Umair   18   4.0        4

In [112]:
df = pd.read_csv('NA Candidate List.csv')
df

,District,Seat,Constituency_title,Candidate_Name,Party
0,Chitral,Chitral,NA-1,lftikhar ud Din,Pakistan Muslim League(N)
1,Chitral,Chitral,NA-1,Taqdira Ajmal,Independent
2,Chitral,Chitral,NA-1,Saeed Ur Rehman,Pakistan Rah-e-Haq Part
3,Chitral,Chitral,NA-1,Saleem Khan,Pakistan Peoples Party Parliamentarians
4,Chitral,Chitral,NA-1,Shahzada Muharamad Taimur Khisrao,Independent
5,Chitral,Chitral,NA-1,Abdul Latif,Pakistan Tehreek-e-lnsaf
6,Chitral,Chitral,NA-1,Eid ulHussain,Awami National Party
7,Chitral,Chitral,NA-1,Mohammad Amjad,All Pakistan Muslim League
8,Chitral,Chitral,NA-1,Muhammad Yahya,Independent
9,Chitral,Chitral,NA-1,Moulana Abdul Akbar Chitrali,Muttahida MAJLIS-E-AMAL PAKISTAN
10,Chitral,Chitral,NA-1,Nisar Dastager,Independent
11,Swat,Swat-I,NA-2,Amjad Ali Khan,Pakistan Peoples Party Parliamentarians
12,Swat,Swat-I,NA-2,Amir Muqam,Pakistan Muslim League(N)
13,Swat,Swat-I,NA-2,Haider Ali Khan,Pakistan Tehreek-e-lnsaf
14,Swat,Swat-I,NA-2,Said Qamar,Independent
15,Swat,Swat-I,NA-2,Ibadullah Khan,Independent
16,Swat,Swat-I,NA-2,Muhammad Mukhtar,Pashtoonkhwa Milli Avvami Party
17,Swat,Swat-I,NA-2,Miraj Muhammad,Independent
18,Swat,Swat-I,NA-2,Malak Muhammad Didar Khan,Independent
19,Swat,Swat-I,NA-2,Mumtaz Ahmad,Awami National Party
20,Swat,Swat-I,NA-2,Naveed lqbal,Muttahida MAJLIS-E-AMAL PAKISTAN
21,Swat,Swat-II,NA-3,Aftab Shahid,Independent
22,Swat,Swat-II,NA-3,Hujjat ullah,Independent
23,Swat,Swat-II,NA-3,Saleem Rehman,Pakistan Tehreek-e-lnsaf
24,Swat,Swat-II,NA-3,Shakeel Ahmad,Jamiat Ulmae Islam Nazryati Pakistan
25,Swat,Swat-II,NA-3,Shahryar Amirzeb,Pakistan Peoples Party Parliamentarians
26,Swat,Swat-II,NA-3,Abdul Karim,Awami National Party
27,Swat,Swat-II,NA-3,Ali Khan,Independent
28,Swat,Swat-II,NA-3,Mian Muhammad Shahbaz Sharif,Pakistan Muslim League(N)
29,Swat,Swat-III,NA-4,lbrahim,Allah-o-Akbar Tehreek
...,...,...,...,...,...
3151,Panjgur,Panjgur-cum-Washuk-cum-,NA-270,Meer Ahmed Nawaz Mohammad Hassni,Independent
3152,Panjgur,Panjgur-cum-Washuk-cum-,NA-270,Meer Nazeer Ahmed Baloch,Balochistan National Party
3153,Kech,Kech,NA-271,Abdul Hassan,National Party
3154,Kech,Kech,NA-271,Barkat Ali,Pakistan Peoples Party Parliamentarians
3155,Kech,Kech,NA-271,Jan Muhammad Dashti,Balochistan National Party
3156,Kech,Kech,NA-271,Hafiz Nasir ud Din Zamurani,Independent
3157,Kech,Kech,NA-271,Khalid Waleed,Independent
3158,Kech,Kech,NA-271,Khalil Ahmed Bulidai,Mutthida majlis-e-Amal Pakistan
3159,Kech,Kech,NA-271,Zubaida Jalal,Balochistan Awami Party
3160,Kech,Kech,NA-271,Sayed Ehsan Saha,Balochistan National Party (Awami)
3161,Kech,Kech,NA-271,Shay Brakat Ali,Independent
3162,Kech,Kech,NA-271,Abdul Rasheed,Independent
3163,Kech,Kech,NA-271,Atta Ullah,Pakistan Muslim League (N)
3164,Kech,Kech,NA-271,Mujeeb Ur Rehman,Allah-o-Akber Tehreek
3165,Kech,Kech,NA-271,Muhammad Ismail Bulidai,Independent
3166,Kech,Kech,NA-271,Manzoor Ahmed,Independent
3167,Kech,Kech,NA-271,Hotman,Independent
3168,Lasbela,Lasbela-cum-Gwadar,NA-272,Allah Bakhsh,Mutthida majlis-e-Amal Pakistan
3169,Lasbela,Lasbela-cum-Gwadar,NA-272,Jam Jamal Khan,Balochistan Awami Party
3170,Lasbela,Lasbela-cum-Gwadar,NA-272,Shakeel Ahmed,Independent
3171,Lasbela,Lasbela-cum-Gwadar,NA-272,Attaullah,Balochistan National Party (Awami)
3172,Lasbela,Lasbela-cum-Gwadar,NA-272,Ali Ahmed,Pakistan Tehreek-e-Insaf
3173,Lasbela,Lasbela-cum-Gwadar,NA-272,Ali Baloch,Independent
3174,Lasbela,Lasbela-cum-Gwadar,NA-272,Ghulam Sarwar,Independent
3175,Lasbela,Lasbela-cum-Gwadar,NA-272,Ghulam Mustafa Malik,Independent
3176,Lasbela,Lasbela-cum-Gwadar,NA-272,Mohammad Akhtar Mengal,Balochistan National Party
3177,Lasbela,Lasbela-cum-Gwadar,NA-272,Mohammad Aslam Bhootani,Independent
3178,Lasbela,Lasbela-cum-Gwadar,NA-272,Mohammad Akram,Pak Sarzameen Party
3179,Lasbela,Lasbela-cum-Gwadar,NA-272,Nawab Khan Buzenjo,Amun Taraqqi Party
3180,Lasbela,Lasbela-cum-Gwadar,NA-272,Wazir Ahmed Noorani,Tehreek Labbaik Pakistan

In [113]:
df.columns

Index(['District', 'Seat', 'Constituency_title', 'Candidate_Name', 'Party'], dtype='object')

In [119]:
df[df.Candidate_Name.str.lower() == 'imran khan'].Constituency_title

45      NA-5
508    NA-44
Name: Constituency_title, dtype: object

In [120]:
df[df.Party == 'Pakistan Peoples Party Parliamentarians'].Candidate_Name

3                             Saleem Khan
11                         Amjad Ali Khan
25                       Shahryar Amirzeb
35                            Qamar Zaman
49                         NAJMUDDIN KHAN
51                           Ahmad Hassan
60                  Syed Shahid Ahmed Jan
67                 Bilawal Bhutto Zardari
110                   Malak Nor Wali Shah
114                      Sardar Malik Jan
151          Sardar Manzoor Mumtaz Abbasi
209                        Muhammad Naeem
216                    Syed Abid Ali Shah
886                           Hashim Khan
907                  Azhar Iqbal Choudary
930                         Wazir-Un-Nisa
936                     Qamar Zaman Kaira
951                          Nadeem Ashiq
957         Syed Ishtiaq Ul Hassan Gilani
968                   Zarra Mahmood Malik
989                Zaheer Ul Hassan Rizvi
1003                  Yasir Mushtaq Bajwa
1013                       Muhammad Nawaz
1031                Ch. Ijaz Ahmed Cheena
1046                   Rao Ikram Ali Khan
1066                  Muhammad Anas Amjad
1072                          Ishaq Akbar
1099                        Mian Asif Ali
1103                    Zulfiqar Ali Khan
1112                          Asif Bashir
                      ...
2492                    Syed Naveed Qamar
2678                    Syeda Shehla Raza
2707          Mian waqar Akhtar paganwala
2719                   Farooq Niaz Tanoli
2728               Bilawal Bhutto Zardari
2751                          abdul wahab
2767                          sardar aziz
2783                        fauzia hameed
2795                            ali ahmed
2809                 Muhammad  jameel zia
2820                   Abdul Khaliq Mirza
2832        Chaudary Muhammad Javed Ishaq
2859                           Liza Mehdi
2868                 Zafar Ahmed Siddiqui
2885                    Syed Sajid Hassan
2900                   Sheikh Imran babar
2916               Sarbuland Khan Jogezai
2933       Syed Abdul Ilayee Shah Rashidi
2965                Shahmaz Naseer Baloch
2989              Molvi Muhammad Abdullah
3004              Malik Abdul Qayum Kakar
3012                 Bismillah Khan Kakar
3039               Muhammad Yousaf Khilji
3044                      Rozi Khan Kakar
3081             Meer Riaz Ahmed Shahwani
3085                     AyatUllah Durani
3107    Sardar Alhaj Muhmmad Umer Gorgage
3128                        Adbdul Raheem
3142                     Sabir Ali Baloch
3154                          Barkat Ali
Name: Candidate_Name, Length: 75, dtype: object

In [121]:
df[df.Party == 'Pakistan Peoples Party Parliamentarians'].count()

District              75
Seat                  75
Constituency_title    75
Candidate_Name        75
Party                 75
dtype: int64

In [128]:
students= pd.DataFrame({'Name':['Ahsan' , 'Ali' , 'Umer' , 'Bilal' , 'Ahmed'],
                        'age':np.random.randint(5,25 , size  = [5]),
                        'Percent' : np.random.randint(50,90,size = [5])})

In [129]:
students

    Name  age  Percent
0  Ahsan    8       52
1    Ali   16       83
2   Umer    6       53
3  Bilal   12       85
4  Ahmed   24       88

In [137]:
def name(age):
    if age < 18:
        return 'Non-Adult'
    else:
        return 'Adult'

In [140]:
students['Status'] = students['age'].map(name)

In [141]:
students

    Name  age  Percent     Status
0  Ahsan    8       52  Non-Adult
1    Ali   16       83  Non-Adult
2   Umer    6       53  Non-Adult
3  Bilal   12       85  Non-Adult
4  Ahmed   24       88      Adult

In [ ]:
#